:root {
  /* Style Guide */
  --color-gray-900: #181818;
  --color-gray-500: #44464C;
  --color-gray-200: #E0E0E0;
  --color-gray-50: #F5F5F5;
  --color-gray-25: #FEFDFE;

  --color-green-600: #13A239;

  --color-blue-800: #0D2C5C;
  --color-blue-600: #2455A2;
  --color-blue-100: #F4F7FF;
  --color-white: #FFFFFF;

  --color-pink-600: #ED1E79;

  --header-height: 82px;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: calc(1280px + 24px * 2);
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.link {
  position: relative;
  transition: color 0.3s ease;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, var(--color-blue-600) 60%, var(--color-green-600));
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.app-button {
  position: relative;
  all: unset;
  padding: 4px;
  border-radius: 9999px;
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-white);
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  box-shadow:
    0 13.67px 19px rgba(98, 99, 252, 0.22);
  transition: all 0.2s ease;
}

.app-button:hover {
  box-shadow: none;
  transform: translateY(2px);
}

.app-button span {
  display: block;
  padding: 16px 30px;
}

.app-button.primary span {
  border-radius: 9999px;
  background:
    /* Top left corner gradient */
    radial-gradient(circle at 0% 0%, rgba(76, 192, 215, 0.8), transparent 40%),
    /* Top right corner gradient */
    radial-gradient(circle at 100% 0%, rgba(73, 143, 179, 0.8), transparent 40%),
    /* Bottom left corner gradient */
    radial-gradient(circle at 100% 50%, rgba(0, 147, 229, 0.7), transparent 40%),
    /* Center to bottom main gradient */
    linear-gradient(to bottom, #00d4ff, #53e6d8);
  font-size: 1.5rem;
}

.app-button.secondary span {
  border-radius: 9999px;
  background:
    /* Top left corner gradient */
    radial-gradient(circle at 0% 0%, rgba(33, 131, 81, 0.8), transparent 40%),
    /* Top right corner gradient */
    radial-gradient(circle at 100% 0%, rgba(33, 131, 81, 0.8), transparent 40%),
    /* Bottom left corner gradient */
    radial-gradient(circle at 100% 50%, rgba(19, 162, 57, 0.7), transparent 40%),
    /* Center to bottom main gradient */
    linear-gradient(to right, #13A239, #11A079);
  /* linear-gradient(to bottom, #00d4ff, #53e6d8); */
  font-size: 1.5rem;
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: 50%;
  transform: translateY(0) translateX(-50%);
  top: 20px;
  padding: 6px;
  border-radius: 9999px;
  z-index: 100;
  max-width: 1092px;
  width: 100%;
  box-shadow: 0px 6px 14px rgba(35, 84, 161, 0.11);
  transition: transform 0.3s ease;
}

.header.hidden {
  transform: translateY(-100%) translateX(-50%);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  background-color: var(--color-blue-100);
  border-radius: 9999px;
  padding: 8px 32px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__container {
  max-width: calc(1392px + 24px * 2);
}

.footer__aside {
  background-color: var(--color-gray-25);
  border: 1px solid rgba(235, 240, 239, 0.6);
  padding: 37px 56px;
  max-width: 1092px;
  margin: 0 auto;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 5px 10.37px rgba(0, 0, 0, 0.07);
  border-radius: 18px;
  transform: translateY(50px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__aside div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 550px;
}

.footer__aside div h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2.375rem;
  font-weight: 600;
}

.footer__aside div p {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #181818;
}

.footer__aside app-button {
  max-width: 285px;
  width: 100%;
}

.footer__aside app-button .app-button {
  width: 100%;
}

.footer__aside .app-button span {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 11px;
  justify-content: center;
}

.footer__aside .app-button span i {
  font-size: 1.5rem;
}

.footer {
  background: linear-gradient(90deg, var(--color-blue-800), var(--color-blue-600));
  border-radius: 16px;
}

.footer__content {
  /* Background lines grid */
  background-image: repeating-linear-gradient(to right,
      transparent 0 100px,
      #c9c7cd22 100px 101px),
    repeating-linear-gradient(to bottom,
      transparent 0 100px,
      #c9c7cd22 100px 101px);
  padding: 112px 64px 54px;
  margin-bottom: 20px;
}

/* Home Page */
.home-main {}

/* Hero Section */
.home__hero-container {
  padding-top: calc(var(--header-height) + 108px + 20px);
  position: relative;
  border-bottom: 1px solid rgba(235, 240, 239, 0.6);
}

.home__hero-container::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: url("../assets/background-grid.png") no-repeat center;
  background-size: cover;
  z-index: -1;
  opacity: 0.6;
}

.home__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hero__heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.hero__heading-wrapper span {
  font-size: 1.5rem;
}

.hero__heading {
  font-size: 3.625rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

/* Página "O que fazer?" */

/* Cards */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 80px auto 0 auto;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {  
  padding: 1rem;
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-img-top {
 width: 100%;
 height: 200px;
 object-fit: cover;
 border-radius: 6px 6px 0 0;
}

/* Modal Cards */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex; 
  justify-content: center;
  align-items: center;
  display: none; 
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.modal-overlay.active {
  display: flex;
  animation: modal-fade-in 0.3s ease;
}

/* Conteúdo do Modal */
.modal-content {
  background: var(--color-white);
  border-radius: 8px;
  padding: 24px;
  position: relative;
  max-width: 1000px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: modal-scale-up 0.3s ease;
}

body.modal-aberto {
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2.5rem;
  line-height: 1;
  color: var(--color-white);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  z-index: 1001;
}

.modal-close:hover {
  color: var(--color-gray-200);
  transform: scale(1.1);
}

.modal-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 20px;
}

.modal-title {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-blue-800);
  margin-bottom: 15px;
}

.modal-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-gray-500);
  text-align: justify;
}

.modal-text p {
  margin-bottom: 1.25rem;
}

.modal-text p:last-child {
  margin-bottom: 0;
}

/* Setas modal imagens */
.modal-image-container {
  position: relative;
  margin-bottom: 20px;
}

.modal-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  background: rgba(233, 232, 232, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease;
  z-index: 10;
  display: none; 
}

.modal-arrow:hover {
  background: rgba(122, 122, 122, 0.7);
}

.modal-arrow.prev {
  left: 10px;
}

.modal-arrow.next {
  right: 10px;
}

@keyframes modal-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes modal-scale-up {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Página "Quiz das pedras" */
.game{
  background-color: var(--color-blue-600);
  width: 90%;
  max-width: 800px;
  margin: 100px auto 0;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.game h1 {
  color: #FFFF;
  font-weight: 30px;
  font-weight: 600;
  border-bottom: 1px  solid #FFFF;
  padding-bottom: 30px;
}

.quiz{
  padding: 20px 0;
}

.quiz h2{
  font-size: 23px;
  color: #FFFF;
  font-weight: 600;
}

.btn{
  background-color: #FFFF;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background-color: #222;
  color: #FFFF;
}

.btn:disabled{
  cursor: no-drop;
}

#proximo-btn{
  /*display: none;*/
  background-color: #FFFF;
  color: var(--color-blue-600);
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer
}

.correto{
  background-color: #9aeabc;
}

.incorreto{
  background-color: #ff9393;
}